html {
    font-size: 14px;
}

body {
    @apply bg-surface-100;
}

.dark {
    body {
        @apply bg-surface-900;
    }
}

.fade-enter-active,
.fade-leave-active {
    transition: opacity 0.2s ease;
}

.fade-enter-from,
.fade-leave-to {
    opacity: 0;
}

* {
    @apply select-none;
    scrollbar-width: thin;
    scrollbar-color: theme('colors.indigo.700') theme('colors.black');

    &::-webkit-scrollbar {
        width: 4px;

        &-track {
            @apply bg-black;
        }

        &-thumb {
            @apply bg-indigo-700;
            @apply rounded-lg;
        }
    }
}

.track {
    @apply rounded;
    transition: all 0.1s;
}

.track--selected {
    @apply bg-surface-800 rounded-l-md rounded-r-none;
}

.tick {
    transition: all 0.1s;

    @apply relative;

    @apply bg-surface-800;
}
.tick--selected {
    @apply border border-orange-900;
    @apply bg-surface-900;
}

.tick--active {
    @apply bg-orange-500 group-hover:bg-orange-600;
}

.tick--current {
    &::after {
        content: '';
        @apply absolute top-0 left-0 w-full h-full bg-orange-500/20 rounded z-20 shadow-orange-500 shadow;
    }
}

.pianotick {
    @apply relative;
    @apply bg-surface-800;
}
.pianotick--selected {
    @apply bg-surface-900;
}

.pianotick--active {
    @apply bg-orange-500 group-hover:bg-orange-600;
}

.pianotick--current {
    &::after {
        content: '';
        @apply absolute top-0 left-0 w-full h-full bg-orange-500/20 rounded z-20 shadow-orange-500 shadow;
    }
}
