html {
    font-size: 14px;
}

body {
    @apply bg-surface-100;
}

.dark {
    body {
        @apply bg-surface-950;
    }
}

.fade-enter-active,
.fade-leave-active {
    transition: opacity 0.2s ease;
}

.fade-enter-from,
.fade-leave-to {
    opacity: 0;
}

* {
    @apply select-none;
    scrollbar-width: thin;
    scrollbar-color: theme('colors.indigo.700') theme('colors.black');

    &::-webkit-scrollbar {
        width: 4px;

        &-track {
            @apply bg-black;
        }

        &-thumb {
            @apply bg-indigo-700;
            @apply rounded-lg;
        }
    }
}

.track {
    @apply rounded;
    @apply bg-surface-900;
}

.tick, .pianotick {
    @apply relative;
    @apply bg-surface-800;
}

.tick--active, .pianotick--active {
    @apply bg-orange-500;
}

.tick--current, .pianotick--current {
    &::after {
        content: '';
        @apply absolute top-0 left-0 w-full h-full rounded z-20;
        @apply bg-linear-to-t from-orange-500/50 to-transparent;
    }
}
